body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
.Container{
    width: 900px;
    margin: auto;
    align-items: center;
}
.Conteudo{
    width: 30%;
    background: rgb(160, 163, 139);
    border-radius: 20px;
    margin: 5px;
    float: left;
    margin-top: 8%;
    text-align: center;
}
.Preco{
    width: 180px;
    height: 120px;
    margin: 5% auto 0 auto;
    text-align: center;
}
.Detalhes{
    margin-top: -60px;
}
.Conteudo h1{
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 3;
    text-transform: uppercase;
}
.Preco h2{
    margin-top: -20px;
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
}
.Detalhes h4{
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: rgb(3, 3, 3);
    line-height: 0.1;
}
.Conteudo a{
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid rgb(9, 9, 9);
    color: rgb(5, 5, 5);
    padding: 10px 60px;
    display: inline-block;
    margin: 05% auto;
    text-transform: uppercase;
}
.Conteudo a:hover{
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid black;
    background: rgb(184, 33, 33);
    color: black;
    padding: 10px 60px;
    display: inline-block;
    margin: 05% auto;
    text-transform: uppercase;
    font-weight: bold;
}